*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}


.accordionwraper {
   display: flex;
   justify-content: center;
   align-items: center;
   max-width: 1920px;
   width: 100%;
   height: 100vh;
   
}
.accordion {
   width: 800px;
   height: auto;
   border: 1px solid #a8a7a7;
   border-radius: 3px;
}
.tab input,
.tab-content {
 display: none;
}
.wrapertitle{
   font: 0.8rem/1.2 Arial, sans-serif;
   color: #000;
}
.tab {
    font: 0.8rem/1.2 Arial, sans-serif;
   border: 2px solid #e9eaec;
   border-width: 1px 0px 0px 0px;
   border-radius: 3px;
   color: #0f58f5;
   margin-bottom: 1px;
}

.tab-title {
   padding: 10px;
   /* Поля вокруг текста */
   display: block;
   /* Блочный элемент */
   text-transform: uppercase;
   /* Все буквы заглавные */
   font-weight: bold;
   /* Жирное начертание */
   cursor: pointer;
   /* Вид курсора */
}

.tab-title::after {
   content: '+';
   /* Выводим плюс */
   float: right;
   /* Размещаем по правому краю */
}

.tab-content,
.wrapertitle {
   padding: 10px 20px;
   /* Поля вокруг текста */
}

.tab :checked+.tab-title {
    /*background-color: #f5762d;
   Цвет фона */
   border-radius: 3px 3px 0 0;
   /* Скругляем уголки */
   color: #020911;
   /* Цвет текста */
}


.tab :checked+.tab-title::after {
   content: 'х';
   /* Выводим минус */
}
 
.tab:hover .tab-content {
   display: block;
   /*opacity: 1;*/
   /* Показываем содержимое */
   /*через display не получится плавно перейти,пробовать через opasity */
   -webkit-transition: all 1s ease-out 0.5s;
     -moz-transition: all 1s ease-out 0.5s;
     -o-transition: all 1s ease-out 0.5s;
     transition: all 1s ease-out 0.5s;
     /*transition: all 8.5s ease 3s;*/

}
.tab :checked~.tab-content {
   display: block;
   /* Показываем содержимое */
   /*opacity: 1;*/
}

/*нерабочие попытки --->
.accordionwraper :hover  ~ .tab {
   color: #020911;
}
.accordion :hover ~ .tab {
   color: #020911;
}
.accordionwraper:hover~.tab {
   color: #020911;
}*/

.tab:hover,
 .accordion:hover .tab {
   color: #020911;
  /* меняем цвет всех элементов при наведении*/
}

.foto1 {
   background-image: url("./assets/img/fotoanimal1-pandas.png");
   background-repeat: no-repeat;
   width: 200px;
   height: 200px;
}
.foto2 {
   background-image: url("./assets/img/fotoanimal2-eagle.png");
   background-repeat: no-repeat;
   width: 200px;
   height: 200px;
}
.foto3 {
   background-image: url("./assets/img/fotoanimal3-gorilla.png");
   background-repeat: no-repeat;
   width: 200px;
   height: 200px;
}
.foto4 {
   background-image: url("./assets/img/fotoanimal4-lenivets.png");
   background-repeat: no-repeat;
   width: 200px;
   height: 200px;
}
.foto5 {
   background-image: url("./assets/img/fotoanimal5-gepardas.png");
   background-repeat: no-repeat;
   width: 200px;
   height: 200px;
}
.boximg {
   position: relative;
   margin: 0px 0px 0px 37.5%;
   transition: 1s;
}
/*.tab-content:hover {
   -webkit-transform: rotate(360deg);
   transform: rotate(360deg);
}*/


.effect-blackblur {
   
   position: absolute;
   top: 0;
   left: 0;
  /* display: block;*/
   width: 100%;
   height: 100%;
   background-color: rgba(0,0,0,0.5);
   text-align: center;
   vertical-align: middle;
   color: #fff;
   padding-top: 80px;
   opacity: 0;
   -webkit-transition: all .25s;
   -o-transition: all .25s;
   transition: all .25s;
}
.tab-content div:hover .effect-blackblur {
   opacity: 1;
}
.tab-content div:hover .foto5 {
   width: 220px;
   height: 220px;
}
.tab,
.boximg,
.tab-content div {
   cursor: pointer;
}
.tab-content .boximg:hover {
   transform: scale(1.2);
}



/*------------адаптация 321-820--------------*/
@media (min-width:321px)  and  (max-width: 820px) {
   .accordionwraper {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 1920px;
      width: 100%;
      height: 100vh;
      
   }
   .accordion {
      width: 65%;
      height: auto;
      border: 1px solid #a8a7a7;
      border-radius: 3px;
   }
   .boximg {
      margin: 0px 0px 0px 25%;
   }
   /*.tab:not(.tab):hover .tab-content {
      display: block;*/
      /*opacity: 1;*/
      /* Показываем содержимое */
      /*через display не получится плавно перейти,пробовать через opasity */
     /* -webkit-transition: all 1s ease-out 0.5s;
        -moz-transition: all 1s ease-out 0.5s;
        -o-transition: all 1s ease-out 0.5s;
        transition: all 1s ease-out 0.5s;*/
        /*transition: all 8.5s ease 3s;} */
   
   
}



/*------------адаптация 320--------------*/
@media (max-width: 320px) {
   .accordion {
      width: 85%;
      height: auto;
      border: 1px solid #a8a7a7;
      border-radius: 3px;
   }
   .boximg {
      margin: 0px 0px 0px 25%;
   }
   .tab:not(.tab):hover .tab-content {
      display: block;
      /*opacity: 1;*/
      /* Показываем содержимое */
      /*через display не получится плавно перейти,пробовать через opasity */
      -webkit-transition: all 1s ease-out 0.5s;
        -moz-transition: all 1s ease-out 0.5s;
        -o-transition: all 1s ease-out 0.5s;
        transition: all 1s ease-out 0.5s;
        /*transition: all 8.5s ease 3s;*/
   
   }
}